<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url shortner</title>
    <link rel="stylesheet" href="style.css">
  
</head>
<body> 
<div class="divcenter"> 
    <h1 class="urlheading">URL SHORTNER</h1>
    <% if (locals.eror) { %>
     <p class="error"><%= error %> </p>
    <% } %>
    <form action="/" method="post">
        <input type="url" name="url" id="url" placeholder=" Type Url Here">
        <input id ="submit" type="submit" value="create url">
    </form>
    <div class="short-url">
        <% if (locals.url_short) { %>
         <a href="<%= url_short %>"><%= url_short %> </a>
        <% } %>
    </div>
</div>
</body>
</html>